.card-pricing__container{
  position: absolute;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.712);
  color:antiquewhite;
  font-family: "Calibri";
  padding:10px;
}

.card-pricing__title{
  margin-bottom: 3px;
}
.card-pricing__value{
  display: flex;
  justify-content: space-between;
}
.card-pricing__value__console{
  display: flex;

}

.card-pricing__value__console > span{
  font-weight: bolder;
  color:aqua;
  margin-right: 10px;
}
