<div class="home__container">
 <app-card


  gameCover="assets/spiderman.avif"
  gameLabel="Edição Digital Deluxe"
  gameType="PS5"
  gamePrice="R$399,50"

 >
</app-card>
<app-card

gameCover="assets/fc24.webp"
gameLabel="Edição Ultimate"
gameType="PS4 | PS5"
gamePrice="R$528,90"

>
</app-card>
<app-card

gameCover="assets/nba.jpg"
gameLabel="Edição Kobe Bryant"
gameType="PS5"
gamePrice="R$349,90"

>
</app-card>
<app-card

gameCover="assets/cod.webp"
gameLabel="Edição Padrão"
gameType="PS4"
gamePrice="R$92,36"

>

</app-card>

<app-card

gameCover="assets/re4.webp"
gameLabel="Edição Standard"
gameType="PS4 | PS5"
gamePrice="R$171,27"

>
</app-card>
<app-card

gameCover="assets/mk1.jpg"
gameLabel="Edição Standard"
gameType="PS5"
gamePrice="R$299,90"

>
</app-card>
<app-card

gameCover="assets/motor.jpg"
gameLabel="Pacote Cross-Gen"
gameType="PS4 | PS5"
gamePrice="R$329,90"

>
</app-card>
<app-card

gameCover="assets/assassins.avif"
gameLabel="Edição Standard"
gameType=" PS5"
gamePrice="R$239,90"

>
</app-card>

</div>
